body {
	 /*background: linear-gradient(to top left,purple,#1f46f5);*/
	   /*background: linear-gradient(to top left, purple, #1f46f5) no-repeat center center fixed;*/
    /*background: url("photo4.jpg") no-repeat center center fixed;*/
    background: linear-gradient(to top right, #2ecab6, #113bf7, #2ecab6) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;
    overflow-x: hidden;

}
a{color:#792bc2;text-decoration: none;}
/*a:hover{color:#792bc2; }*/
.pull-right{float: right;}
.pull-left{float: left; color: #792bc2;}
.clear-fix{clear:both;}
.logo-active{fill: #792bc2 !important;}
#formWrapper{
	width:100%; 
	height:100%; 
	/*position: absolute; 
	top:0; 
	left:0;*/
	padding:10px;
	transition:all .3s ease;
}
div#form{
	position: absolute;
	width:400px;
	height:600px;
	height:auto;
	background-color: white;
	margin:auto;
	border-radius: 20px;
	padding:10px;
	/*left:80%;
	top:40%;
	margin-left:-180px;
	margin-top:-200px;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
	 box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}
div.form-item{position: relative; display: block; margin-bottom: 20px;}
 input{transition: all .2s ease;}
 input.form-style{
	color:#8a8a8a;
	display: block;
	width: 100%;
	height: 44px;
	padding: 5px 5%;
	border:1px solid #ccc;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	font-family:'HelveticaNeue','Arial', sans-serif;
	font-size: 105%;
	letter-spacing: .8px;
}
div.form-item .form-style:focus{outline: none; border:1px solid #792bc2; color:#792bc2; }
div.form-item p.formLabel {
	/*position: absolute;
	left:26px;
	top:2px;*/
	transition:all .4s ease;
	color:#2acab6;}
.formTop{top:-22px !important; left:26px; background-color: #fff; padding:0 5px; font-size: 14px; color:#792bc2 !important;}
.formStatus{color:#8a8a8a !important;}
input[type="submit"].login{
	display: block;
  width: 100%;
	/*width: 112px;*/
	height: 37px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #2acab6;
	border:1px solid #2acab6;
	border:none;
	color: #fff;
	font-weight: bold;
}
input[type="submit"].login:hover{background-color: #fff; border:1px solid #2acab6; color:#2acab6; cursor:pointer;}
input[type="submit"].login:focus{outline: none;}

.shetlownheader h2{
	/*color: #58bff6;*/
	color: #2acab6;
	text-align: center;
	font-size:32px;
	margin-bottom: -4px;
}
.sheltownsubtext{
	color: #2acab6;
	text-align: center;
	font-size:18px;	
}
.login1{
	color: #337ab7;
	text-align: center;
	font-size:25px;	
}
.logintext{
	font-size: 20px;
	color:white;
	position: absolute;
	width:100%;
	height:320px;
	height:auto;
	margin:auto;
	padding:10px;
/*	left:20%;
	top:40%;
	text-align: justify;
	margin-left:-180px;
	margin-top:-200px;*/
	
}
.logintext h3{
	font-size: 39px;

}
.logintext h4{
	font-size: 30px;

}
.fpassword {
	text-align: left;
	color: #792bc2;
	font-size: 16px;
}
.signup{
	text-align: left;
	color: #2acab6;
	font-size: 16px;	
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 40px;
  height: 500px; /* Should be removed. Only for demonstration */
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
  .logintext{
  	padding-top: 70px;
  	padding-left: 30px;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
   .header{
    	padding-right: 20px;
    }
     #formWrapper{
	padding-left: 20px;
    }
    .row {
    display: flex;
    flex-direction: column-reverse;
}
}

@media screen and (min-width: 1200px) {
    .logintext{
    	 padding-top:30px;
	padding-left: 150px;
    }
    #formWrapper{
    	padding-top:30px;
	padding-left: 150px;
    }
    .header{
    	padding-right: 50px;
    }

}

.header {
  overflow: hidden;
}
.header a {
  float: right;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.header a:hover {
  color: white;
}
.sheltownlogo img{
	width: 60%;
	height:90px;
	margin-left: 70px;
  margin-right: auto
}